.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.tools-section,
.chemicals-section {
  width: 20%;
  border: 1px solid #ccc;
  padding: 20px;
}

.canvas-section {
  width: 60%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "Canvas";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
  }
}
